* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.basic-info {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin-inline: auto;
    padding: 3rem;
   
}

.basic-info .heading {
    font-size: 3rem;
    font-weight: 700;
    margin-block-end: 5rem;
    text-align: center;
    text-decoration: underline;
}

.basic-info .content-block {
    /* border: 2px solid red; */
    text-align: center;
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.basic-info .content-block a {
    text-decoration: none;
    background-color: rgb(225, 225, 230); 
    padding: 1rem 5rem;
    border-radius: 50px;
    color: black;
    border: 5px solid black;
    font-size: 42px;
}
.basic-info .content-block a:hover{
    background-color: rgb(189, 189, 193);    transition: background-color 0.5s;
}


@media screen and (max-width: 1034px) {
    .basic-info .heading {
        font-size: 2rem;
        margin-block-end: 3rem;
    }
    .basic-info .content-block a {
        font-size: 30px;
    }  
    .basic-info .content-block {
        gap: 2rem;
    }
}
@media screen and (max-width: 721px) {
    .basic-info .heading {
        font-size: 1.5rem;
        margin-block-end: 1.2rem;
    }
    .basic-info .content-block a {
        font-size: 15px;
    }  
    .basic-info .content-block {
        gap: 1rem;
    }
}





