* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page2 {
    max-width: 1280px;
    margin-inline: auto;
    /* border: 2px solid red; */
}

.page2 .all-data {
    padding: 1rem;
    /* border: 2px solid rgb(55, 99, 232); */
    max-width: 980px;
    margin-inline: auto;
}

.page2 .all-data .sec {
    /* border: 2px solid green; */
    margin-block-end: 1rem;
    max-width: 800px;
    margin-inline: auto;
}

.section1 .head-content {
    /* border: 2px solid black; */
    text-align: center;
    font-size: 3rem;
    max-width: 650px;
    margin-inline: auto;
}

.section2 {
    padding: 1rem;
}

.section2 .details {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    max-width: 600px;
    margin-inline: auto;
}

.details .detail {
    border: 2px solid rgb(7, 116, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
    background-color: rgb(212, 248, 249);
    border-radius: 25px;
    border: none;
    
}

.details .detail .sub {
    /* border: 2px solid red; */
    padding: 0.5rem;
}

.details .detail .sub-detail2 {
    min-width: 296px;
}

.details .detail .sub-detail3 input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.details .detail .sub-detail3 input::placeholder {
   text-align: center;
   color: cadetblue;
}

@media screen and (max-width: 656px) {
    .details .detail {
        flex-direction: column;
        text-align: center; 
    }
    .details .detail .sub-detail2 {
        min-width: auto;
    } 
    .details .detail .sub {
        padding: 0.2rem;
    }
    .details .detail {
        padding: 1rem;
    }
}
@media screen and (max-width: 430px) {
    .section1 .head-content {
        font-size: 2rem;
    }

}
@media screen and (max-width: 302px) {
    .section1 .head-content {
        font-size: 1.5rem;
    }
}

.section3 {
    text-align: center;
}
.section3 .btn {
    padding: 0.9rem 2rem;
    color: floralwhite;
    background-color: darkcyan;
    border-radius: 14px;
    cursor: pointer;

    
}
.section3 .btn:active {
    padding: 0.87rem 1.97rem;
}
